@import url("https://rsms.me/inter/inter.css");
@import "extra-bootstrap.css";

:root {
  --bg-color: #ffffff;
  --secondary-color: #fafafa;
  --title-color: #1b1b1b;
  --text-color: #303030;
  --accent-color: #d67070;
  /* --hl-blue: #90bdea;
  --hl-red: #d67070; */
  --hl-blue: #5798d8;
  --hl-red: #df5b5b;

  --success: #7aebb6;
  --almost: #ffa652;
  --failure: #ff5252;
  --shadow-color: rgba(96,96,96,0.1);
}

body {
  position: relative;
  margin: auto;
  font-size: 16px;
  padding: 0;
  /* width: 70%; */
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color) !important;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

h1 {
  display: block;
  margin: 0 0 24px 0;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover {
  color: var(--hl-blue);
}

blockquote {
  background: #fff;
  border-left: 0.6rem solid var(--accent-color);
  border-radius: 0.2rem;
  margin: 1.5rem 0;
  padding: 0.8rem 0.5rem;
  quotes: "\201C""\201D""\2018""\2019";
  box-shadow: 0.05rem 0.1rem 0.5rem var(--shadow-color);
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

blockquote:before {
  color: var(--shadow-color);
  content: open-quote;
  font-size: 2rem;
  line-height: 0.1rem;
  margin-right: 0.2rem;
  vertical-align: -0.3rem;
}

blockquote p {
  display: inline;
}

blockquote:hover {
  margin-left: 1rem;
  box-shadow: 0.05rem 0.5rem 1rem var(--shadow-color);
}

.content-section {
  margin: 3rem 0;
}

.form-check-label {
  margin: auto auto 0.5rem 1.2rem;
  font-weight: normal;
  cursor: pointer;
}

.form-check-input {
  margin: 0.2rem 0;
} 

.hl-red {
  color: var(--hl-red);
  padding: 0 0.1rem;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hl-blue {
  color: var(--hl-blue);
  padding: 0 0.1rem;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hl-red:hover, .hl-blue:hover {
  font-weight: bold; 
}

.qna-answer {
  color: var(--text-color);
}

.question-wrapper {
  background-color: transparent;
  border-radius: 0.5rem;
  border-color: var(--secondary-color);
  padding: 2rem;
  margin-bottom: 0.8rem;
  box-shadow: 0.05rem 0.1rem 0.5rem var(--shadow-color);
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.question-wrapper:hover {
  box-shadow: 0.05rem 0.5rem 1rem var(--shadow-color);
}

.question-title {
  font-weight: bolder;
}

.giphy-embed {
  border-left: 0.6rem solid;
  border-radius: 0.2rem;
  margin: 1rem 0 2rem 0;
  height: 200px;
  /* width: 100%; */
}

.giphy-embed-correct {
  border-color: var(--success);
}

.giphy-embed-almost {
  border-color: var(--almost);
}

.giphy-embed-wrong {
  border-color: var(--failure);
}

.btn-expand-hover {
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: underline;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn-expand-hover:hover {
  text-decoration: none;
  color: var(--bg-color);
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-color: var(--title-color);
  border-width: 0.56rem;
  border-radius: 0.2rem;
}

#submit-review-form {
  display: block;
  color: #fff;
  background-color: var(--accent-color);
  border-color: #fff;
  border-radius: 0.2rem;
  border-width: 0.05rem;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#submit-review-form:hover {
	color: var(--title-color);
	background-color: #fff;
  border-color: var(--title-color);
}

#form-grade {
  margin-top: 1rem;
}

.header {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.footer {
  margin: 5rem 0;
  text-align: center;
  color: var(--accent-color);
}
